services:
  jenkins:
    image: jenkins/jenkins:lts
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
    networks:
      - ci_network

  sonar:
    image: sonarqube:community
    ports:
      - "9000:9000"
    networks:
      - ci_network
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true

volumes:
  jenkins_data:

networks:
  ci_network:
    driver: bridge